
$CARNE: #d31a23;
$CLARO: #fafafa;
$MORENA: #572c0e;
$fontLOGO: 'Ultra', serif;
$fontRobot: 'Roboto', sans-serif;

@mixin titseccion  {
    text-align: center;
    font-size: 5rem;
    font-family: $fontLOGO;
    color: $CLARO;
    padding: 0.5rem;
    margin: 0.1rem;
    background-color:$MORENA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./parciales/index.scss";

.LOGOO {
    position: absolute;
    font-family: $fontLOGO;
    font-size: 8rem;
    color: $CLARO;
    padding: 20%;
    @media screen and ( max-width:488px) {
        font-size: 2rem;
        padding: 5%;        
    }

    @media screen and ( max-width:768px) {
        font-size: 5rem;
        padding: 10%;        
    }
    }
  .bgfondos {
      background-color: $CARNE;
  }
.navegador {
   div div ul a {
        
        &:hover{
            background-color: $CLARO;
            border: $CARNE dotted 0.1rem;
        }
    }
    
    .lista {
       text-transform: uppercase;
       font-family: $fontRobot;
       color: $CLARO;
       
    }
}
.titulosecion {
    @include titseccion;
}